body{
    font-family:Arial, Helvetica, sans-serif;
    margin:0;
    background-color: #f2f2f2;
}

.title{
    text-align:center;
    margin:20px 0;
}
.container{
    display:flex;
    justify-content:space-around;
    padding:20px;
}
.card{
    background-color:white;
    padding: 20px;
    width:250px;
    border-radius:8px;
    border:1px solid #ccc;
    text-align:center;
    margin:2px
}
.btn{
    background-color: blue;
    color:white;
    border:none;
    padding:8px 12px;
    border-radius:5px;
}
