body{
    font-family:Arial, Helvetica, sans-serif;
    margin:0;
}
.navbar{
    display:flex;
    justify-content: space-around;
    align-items:center;
    background-color: #222;
    color:white;
    padding:10px 20px;
}
.nav-links span{
    margin-left: 15px;

}
.hero{
    text-align: center;
    background-color: #e6f7ff;
    padding:50px 20px;

}
.btn{
    background-color: blue;
    color:white;
    border:none;
    padding:10px 15px;
    border-radius: 8px;
}
.container{
    display:flex;
    justify-content: space-around;
    margin:30px;

}
.card{
    background-color: #f2f2f2;
    padding:30px;
    width:150px;
    text-align: center;
    border-radius: 8px;
    border:1px solid #ccc;
    margin:2px
}
.footer{
    text-align: center;
    background-color: #222;
    color:white;
    padding:15px;
    margin-top:20px;
}