body{
    font-family:Arial, Helvetica, sans-serif;
    margin:0;
    background-color: #eef2f3;
}
.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color:white;
    padding:10px 20px;
}
.logout{
    background-color: red;
    color:white;
    border:none;
    padding:6px 12px;
    border-radius:3px;

}
.container{
    display:flex;
    justify-content: space-around;
    margin:30px;
}
.card{
    background-color: white;
    padding:30px;
    width: 150px;
    text-align: center;
    border-radius: 8px;
    border:1px solid #ccc;
    font-size:18px;
    margin:10px
}