body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.container{
    display:flex;
    justify-content: center;
    gap:20px;
    margin:30px;
}
.card{
    background-color: #f2f2f2;
    padding:30px;
    width:150px;
    border-radius: 8px;
    transition: 0.3s;
}
.card:hover{
    background-color: #d9f0ff;
    transform:translateY(-10px);
    box-shadow: 0 8px 15px rgba(0,0,0,0.2);

}
.btn{
    background-color: blue;
    color:white;
    border:none;
    padding:10px 15px;
    transition:0.3s;
}
.btn:hover{
    background-color: darkblue;
    transform:scale(1.1);
}