body{
    font-family:Arial, Helvetica, sans-serif;
    text-align:center;
}
.products{
    display: flex;
    justify-content:space-between;
    margin:30px;

}
.item{
    background-color: #f2f2f2;
    padding:20px;
    border:1px solid #ccc;
    border-radius:8px;
    width:22%

}
@media(max-width:600px){
    .products{
        flex-direction: column;
        align-items:center;

    }
    .items{
        width:80%;
        margin-bottom:15px;
    }
}