body{
    font-family:Arial, Helvetica, sans-serif;
    height:2000px;
}
.box1{
    background-color: lightblue;
    padding:10px;
    position: relative;
    top:20px;
    left:30px;
}
.parent{
    position: relative;
    background-color: lightgrey;
    height:150px;
    margin:40px;
    padding:10px
}
.box2{
    position:absolute;
    top:10px;
    right:10px;
    background: orange;
    padding:5px;
}
.box3{
    position: fixed;
    bottom:20px;
    right:20px;
    background: red;
    color:white;
    padding:10px;

}
.sticky{
    position: sticky;
    top:0;
    background: black;
    color:white;
    padding:10px;
}
.content{
    margin-top:50px;
}