body{
    font-family:Arial, Helvetica, sans-serif;
    background-color:#e6f2ff;
}

#pageTitle{
    text-align:center;
    color:darkblue;

}

.card{
    background-color: white;
    border:2px solid grey;
    margin:20px;
    border-radius:10px;
}

.card h2{
    color:darkgreen;
}

.btn{
    background-color: green;
    color:white;
    border:none;
    padding:8px 15px;
    border-radius:5px;
}

#footer{
    text-align:center;
    margin-top: 30px;
    font-size:14px;
}