body{
    font-family:Arial, Helvetica, sans-serif;
    margin:0;
}

.header{
    background-color: darkred;
    color:white;
    text-align:center;
    padding:30px 20px;
}

.section{
    padding:20px;
    margin:20px;
    background-color: #f2f2f2;
    border-radius:8px;
}

.item{
    background-color: white;
    padding:10px;
    margin:10px 0;
    border:1px solid grey;
}

.btn{
    background-color: green;
    color: white;
    border:none;
    padding:10px 15px;
    border-radius:5px;
}

#footer{
    text-align:center;
    background-color:black;
    padding:15px;
    color:white;
    margin-top:20px;
}