body{
    font-family:Arial, Helvetica, sans-serif;
    margin:0;
}

.navbar{
    background-color: black;
    color:white;
    padding:10px 20px;
}

.logo{
    margin:0;
}
.hero{
    text-align:center;
    background-color: #e6f7ff;
    padding:40px 20px;

}

.hero h1{
    color:darkblue;
}
.hero p{
    color:#333;
}

.btn{
    background-color:blue;
    color:white;
    padding:10px 15px;
    border-radius:5px;
}

.section{
    background-color:#f2f2f2;
    margin:20px;
    padding:20px;
    border-radius:8px;
}

#footer{
    text-align:center;
    padding:15px;
    background-color:black;
    color:white;
    margin-top:20px;
}