body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.features{
    display: flex;
    justify-content: space-around;
    margin:30px;
}
.box{
    background-color: #f2f2f2;
    padding:25px;
    border:1px solid #ccc;
    border-radius:8px;
    width:25%;
}
@media(max-width:600px){
    .features{
        flex-direction: column;
        align-items: center;

    }
    .box{
        width:80%;
        margin-bottom: 15px;
    }
}