body{
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
}
.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    padding:15px 20px;
}
.menu{
    display:flex;
    gap:15px
}
@media(max-width:600px){
    .navbar{
        flex-direction: column;
        text-align: center;
    }
    .menu{
        flex-direction: column;
        margin-top: 10px;

    }
}