body{
    font-family:Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
}

#mainTitle{
    color:darkblue;
    text-align: center;
}

.about,.skills{
    background-color: white;
    border:2px solid grey;
    padding:15px;
    margin:15px;
}

h2{
    color:darkgreen;

}

#footer{
    text-align:center;
    margin:20px;
    font-size:14px;
}