body{
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 100px;
}
.box{
    width:150px;
    height:150px;
    background-color: skyblue;
    margin: auto;
    line-height:150px;
    border-radius:10px;
    transition: 0.5s;
}
.box:hover{
    transform:
    translateX(40px)
    translateY(-30px)
    scaleX(1.2)
    rotate(15deg)
    skew(10deg)


}