*{
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
    box-sizing:border-box;

}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:15px 40px;
    background:#111;
    color:white;
}
.nav-links{
    display: flex;
    list-style: none;
    gap:20px;
}
.nav-links li:hover{
    color:#ff9800;
    cursor:pointer;
}
.hero{
    background: linear-gradient(to right, #ff5722,#ff9800);
    color:white;
    text-align: center;
    padding:120px 20px;
}
.hero button{
    margin-top:15px;
    padding:10px 20px;
    background: white;
    border:none;
    color:#ff5722;
    cursor:pointer;
    font-weight: bold;
    transition: 0.2s;
}
.hero button:hover{
    transform:scale(1.1);
}
.menu{
    padding:60px 20px;
    text-align: center;
}
.menu-card{
    display: flex;
    justify-content: center;
    gap:20px;
    margin-top:30px;
}
.card{
    background:#f2f2f2;
    padding:25px;
    width:250px;
    border-radius:8px;
    transition: transform 0.3s;
}
.card:hover{
    transform:translateY(-10px)
}
.about{
    background: #fafafa;
    padding:60px 20px;
    text-align:center;
}
.features{
    display: flex;
    justify-content: center;
    gap:20px;
    margin-top:25px;
    
}
.features div{
    background:#ff5722;
    color:white;
    padding:15px 20px;
    border-radius:6px;
    transition: 0.4s;
    
}
.features div:hover{
    transform: scale(1.1);
}
footer{
    text-align: center;
    padding:20px;
    background: #111;
    color:white;
}