*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}
.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:15px 40px;
    background: white;

}
.nav-links{
    display:flex;
    list-style:none;
    gap:20px;

}
.nav-links li:hover{
    color:#ff9800;
    cursor:pointer;
}
.product{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:60px;
    padding:80px 40px;

}
.product-image .image-box{
    width:300px;
    height:300px;
    background: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border-radius:10px;

}
.product-details{
    max-width: 400px;
}
.price{
    color:#ff5722;
    font-size:22px;
    margin:15px 0;
}
.product-details button{
    margin-top:15px;
    padding:10px 20px;
    border:none;
    cursor:pointer;
    margin-right: 10px;
    border-radius: 4px;
    
}
.btn-cart{
    background: #ff9800;
    color:white;
    
}
.btn-buy{
    background: #111;
    color:white;
}
.btn-cart:hover, 
.btn-buy:hover{
    transform:scale(1.05)
}
footer{
    text-align: center;
    padding:20px;
    background:#111;
    color:white
}