body{
    font-family:Arial, Helvetica, sans-serif;
    margin:0;
}
.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background: black;
    color:white;
    padding:15px 40px;
}
.menu a{
 color:white;
 margin-left:20px;
 text-decoration:none;
}
.menu a:hover{
    color:#00bfff;
}
.hero{
    text-align: center;
    padding:80px 20px;
    background: #e6f7ff;
}
.hero button{
    padding:10px 20px;
    background: blue;
    color:white;
    border:none;
    border-radius:5px;
    transition:0.3s;
}
.hero button:hover{
    transform:scale(1.1);
    background: darkblue;
}
.features{
    display:flex;
    justify-content: space-around;
    padding:50px 30px;
}
.card{
    width:25%;
    background: #f2f2f2;
    padding:25px;
    text-align: center;
    border-radius: 8px;
    transition: 0.3s;
}.card:hover{
    transform: translateY(-10PX);
    box-shadow:0 10px 15px rgba(0,0,0,0.2);

}
.about{
    text-align: center;
    padding:50px 30px;
    background: #fafafa;
}
.footer{
    text-align: center;
    padding:20px;
    background: black;
    color:white;
}

/*RESPONSIVE*/
@media(max-width:768px){
    .features{
        flex-direction: column;
        align-items: center;

    }
    .card{
     width:80%;
     margin-bottom: 20px;
    }
    .navbar{
        flex-direction:column;
    }
    .menu{
        margin-top: 10px;
    }
}

