body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    padding: 0;
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color:white;
    padding:15px 40px;
}
.nav-links{
    display: flex;
    list-style: none;
    gap:20px;
}
.nav-links li{
    cursor: pointer;

}
.nav-links li:hover{
  color:orange;
}
.hero{
    text-align: center;
    padding:80px 20px;
    background: linear-gradient(to right,#4facfe,#00f2fe);
    color:white;
    cursor:pointer;

}
.hero button{
    margin-top: 20px;
    padding:10px 20px;
    border:none;
    background:orange ;
    color:white;
    cursor:pointer;
}
.hero button:hover{
    background-color: darkorange;
}
.destinations{
    padding:50px 20px;
    text-align: center;
}
.cards{
  display: flex;
  justify-content: center;
  gap:20px;
  margin-top: 30px;
}
.card{
    background: #f4f4f4;
    padding:20px;
    width:250px;
    border-radius:8px;
    transition:transform 0.3s;
}
.card:hover{
    transform:translateY(-10px);
}
.card button{
    margin-top:10px;
    padding:8px 15px;
    border:none;
    background:#333;
    color:white;
    cursor:pointer;
    transition: 0.3s;
    
}
.card button:hover{
    transform: scale(1.1);
}
footer{
    background: black;
    color:white;
    text-align: center;
    padding:15px;
    margin-top:40px;
}

