*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
   
}
.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:15px 40px;
    background: #111;
    color:white;

}
.nav-links{
    display: flex;
    list-style: none;
    gap:20px;
}
.nav-links li:hover{
    color:#00bcd4;
    cursor:pointer;
}
.pricing{
    text-align: center;
    padding:80px 20px;
}
.pricing h2{
    font-size: 32px;
    margin-bottom:10px;
}
.plans{
    display: flex;
    justify-content: center;
    gap:25px;
    margin-top:40px;
}
.plan{
    background: #f4f4f4;
    padding:30px;
    width:260px;
    border-radius:10px;
    transition:transform 0.3s;
}
.plan h1{
    margin:15px 0;
    color:#00bcd4;

}
.plan button{
    margin-top:15px;
    padding:10px 20px;
    border:none;
    background: #111;
    color:white;
    cursor:pointer;
}
.plan button:hover{
    transform:translateY(-10PX)
}
.popular{
    background: #00bcd2;
    color:white;

}
.popular h1{
    color:white;

}
.popular button{
    background: white;
    color:#00bcd4;
}
footer{
    background:#111;
    color:white;
    text-align:center;
    padding:20px;
}