body{
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:15px 40px;
    background: #111;
    color:white;
}
.menu a{
    color:white;
    margin-left: 20px;
    text-decoration: none;
}
.hero{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding:70px 20px;
    background: #f5f5f5;
}
.hero-text{
    width:40%;
}
.hero-text button{
    padding:10px 20px;
    background-color: red;
    color: white;
    border:none;
    border-radius:5px;
    transition:0.3s;
}
.hero-text button:hover{
    transform:scale(1.1);
}
.hero-image .image-box{
    width: 200px;
    height: 200px;
    background: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 70px;
    border-radius: 10px;

}
.services{
    display:flex;
    justify-content: space-around;
    padding:50px 20px;
}
.card{
    background: #fff;
    padding:25px;
    border-radius:8px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    transition: 0.3s;
}
.card:hover{
    transform: translateY(-10px);
}
.testomonials{
    text-align: center;
    padding:50px;
    background: #eee;
}
.footer{
    text-align: center;
    padding:20px;
    background: #111;
    color:white;
}
@media(max-width:768px){
    .hero{
        flex-direction: column;
        text-align: center;
    }
    .hero-text .hero-image{
        width:80%;
    }
    .services{
        flex-direction: column;
        text-align: center;
    }
    .card{
        margin-bottom: 20px;
    }
}