*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;

}
.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:15px 40px;
    background:#222;
    color:white;

}
.nav-links{
    display: flex;
    list-style:none;
    gap:20px;
}
.nav-links li:hover{
    color:#00bcd4;
    cursor:pointer;
}
.hero{
    background:linear-gradient(to right,#2193b0,#6dd5ed);
    color:white;
    text-align:center;
    padding:120px 20px;
}
.hero button{
    margin-top:20px;
    padding:10px 25px;
    border:none;
    background:white;
    color:#2193b0;
    font-weight:bold;
    cursor:pointer;
}
.hero button:hover{
    transform:scale(1.1);
}

.about{
    padding:60px 20px;
    text-align: center;
}
.skills{
    background: #f4f4f4;
    padding:60px 20px;
    text-align: center;
}
.skill-boxes{
    display: flex;
    justify-content: center;
    gap:20px;
    margin-top:30px;
}
.skills{
    background:#222;
    color:white;
    padding:15px 25px;
    border-radius: 20px;
}
.projects{
    padding:60px 20px;
    text-align: center;
}
.project-cards{
    display: flex;
    justify-content: center;
    gap:20px;
    margin-top:30px;
}
.card{
    background:#fafafa;
    padding:25px;
    width:250px;
    border-radius:8px;
    transition:transform 0.3s;
}
.card:hover{
    transform:translateY(-10px)
}
footer{
    background: #222;
    color:white;
    text-align: center;
    padding:20px;
}