*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:15px 40px;
    background:#222;
    color:white;
}
.nav-links{
    display: flex;
    list-style: none;
    gap:20px;
}
.nav-links li:hover{
    color:#00bcd4;
    cursor:pointer;
}
.hero{
    background: linear-gradient(to right,#667eea, #764ba2);
    color:white;
    text-align:center;
    padding:100px 20px;
}
.hero button{
    margin-top:20px;
    padding:10px 20px;
    border:none;
    background: #8dc1c7;
    color:white;
    cursor:pointer;
}
.hero button:hover{
    background: #0097a7;
}
.features{
    padding:60px 20px;
    text-align: center;
}
.feature-boxex{
    display:flex;
    justify-content: center;
    gap:20px;
    margin-top:30px;
}
.box{
    background: #f2f2f2;
    padding:20px;
    width:250px;
    border-radius:8px;
    transition:transform 0.3s;
}
.box:hover{
    transform:translateY(-10px);
}
.courses{
    padding:60px 20px;
    justify-content: center;
    background: #fafafa;

}
.course-cards{
    display: flex;
    justify-content: center;
    gap:20px;
    margin-top:30px;

}
.card{
    background: white;
    padding:20px;
    width:250px;
    border-radius:8px;
    box-shadow:0 4px 10px rgba(0,0,0,0.1);
}
.card button{
    margin-top: 10px;
    padding:8px 15px;
    border:none;
    background:#222;
    color:white;
    cursor:pointer;

}
.card button:hover{
    background:#444;
}
footer{
    text-align:center;
    padding:20px;
    background: #222;
    color:white;
}