*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.dashboard{
    display:flex;
    min-height:100vh;
}
.sidebar{
    width:220px;
    background: #111;
    color:white;
    padding:20px;
}
.sidebar ul{
    list-style:none;
    margin-top:20px;
}
.sidebar li{
    margin-bottom:15px;
    cursor:pointer;
}
.main{
    flex:1;
    padding:20px;
    background:#f4f4f4;


}
.top-bar{
    margin-bottom:30px;
}
.cards{
    display:flex;
    gap:20px;
}
.card{
    flex:1;
    background: white;
    padding:40px;
    text-align: center;
    border-radius: 8px;
}
@media(max-width:768px){
    .dashboard{
        flex-direction:column
    }
    .sidebar{
        width:100%;
        text-align:center;
    }
    .cards{
        flex-direction:column;
    }
}